<div class="dish-management">
  <div class="top-bar">
    <h1 class="page-title">Dishes Rating</h1>
    <div class="search-filter-add">
      <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input
          type="text"
          placeholder="Search for the dishes..."
          [(ngModel)]="searchQuery"
          (input)="onSearch()"
        />
      </div>
      <div class="filter-icon" (click)="toggleFilter()">
        <i class="fas fa-filter"></i>
      </div>
    </div>
  </div>
 <div *ngIf="showFilter" class="filter-bar">
  <h3>Filter by Type:</h3>
  <div class="filter-options">
    <div *ngFor="let type of filterTypes" class="filter-option">
      <label>
        <input
          type="checkbox"
          [checked]="selectedTypes.includes(type)"
          (change)="onTypeSelect(type)"
        />
        {{ type }}
      </label>
    </div>
  </div>
</div>
  <div class="dish-grid">
    <app-dish-card
      *ngFor="let dish of filteredDishes"
      [id]="dish._id"
      [imageUrl]="dish.imageUrl"
      [type]="dish.type"
      [name]="dish.name"
      attribut="rating"
      [rating]="dish.ratingAverage || 0"
    ></app-dish-card>
  </div>
</div>
