<div class="about-container">
    <h1 class="about-title">About Us</h1>
    <p class="about-description">
      Welcome to Gestion de la Cantine, a user-friendly platform designed to streamline daily menu
      management, dish organization, and customer feedback. Our goal is to simplify the dining
      experience by providing intuitive tools for meal planning and rating. This project is crafted
      with care using Angular to ensure a seamless and responsive interface.
    </p>
    <p class="about-thankyou">Thank you for exploring our application!</p>
  
    <h2 class="team-title">Our Team</h2>
    <div class="team-container">
      <div class="team-card">
        <div class="team-card-image">
          <img src="/images/Jasser.jpg" alt="Jasser Gorsia">
        </div>
        <h3 class="team-card-name">Jasser Gorsia</h3>
        <p class="team-card-role">Computer engineering student at ENICarthage</p>
      </div>
      <div class="team-card">
        <div class="team-card-image">
          <img src="/images/aziz.jpg" alt="Mohamed Aziz Sandid">
        </div>
        <h3 class="team-card-name">Mohamed Aziz Sandid</h3>
        <p class="team-card-role">Computer engineering student at ENICarthage</p>
      </div>
    </div>
  </div>
  